@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
*{
    margin: 0;
    padding: 0;
}

body{
    width: 100vw;
    height: 100vh;
    font-family: "Inter";
}

h1{
    font-style: bold;
    font-size: 60px;
    color: #5d42a0;
    text-align: center;
    margin-top: 30px;
    border-bottom: 3px solid #5d42a0; 
    padding-bottom: 30px;
 }

 .conteudo{
    content: url('../imgs/image.png');
    height: 600px;
    background-repeat: no-repeat; 
 }

 .div-aux{
    display: flex;
 }
 .section-left{
    width: 100%;
    background-color: #5d42a0;
    text-align: center;
 }
 .section-left h2{
    color: white;
    margin-top: 3vh;
 }
 .nav-home a{
    color: white;
    text-decoration: none;
 }
 .nav-home{
    margin-top: 5vh;
 }
 p{
    font-family: "Inter";
    color: white;
    font-size: 20px;
    font-weight: 700;
 }
 img{
    height: 200px;
    margin-top: 10vh;
    margin-bottom: 10vh;
 }